{% extends "home/base.html" %}

{% block page_content %}

<div class='container-fluid'>
  <div class="row justify-content-md-center">
    <div class="col col-md-2 ml-2 mt-2 bg-light border rounded">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
    <div class="col col-md-auto mt-2 ml-2 bg-light border rounded">
      <p>Analyze your DNA raw data from 23andme, ancestryDNA, familytreedna for free.</p>
      <p>Use our website to create new tools for genetic raw data interpretation.</p>
    </div>
    <div class="col col-md-3 mt-2 ml-2 bg-light border rounded">
      Usefull links
    </div>
  </div>
</div>


{% endblock %}
